.flexbox {
  display: flex;
  justify-content: space-between;
}

.item1 {
  background-color: pink;
}

.item2 {
  background-color: pink;
}

.item3 {
  background-color: pink;
}

.item4 {
  background-color: pink;
}