.main-flexbox {
  display: flex;
  flex-direction: row;
  height: 50px;
}

.lightpink-flexbox {

  width: 100px;
  background-color: lightpink;
}

.lightblue-flexbox {
  width: 200px;
  background-color: lightblue;
  display: flex;
  flex-direction: column;
}

.row2-flexbox {
  display: flex;
  justify-content: space-between;
  flex-direction: row;

}

.row2 {
  background-color: black;
  color: white;

}



