.firstname-box {
  padding: 8px;
  width: 100px;
  border-radius: 7px;
  border: solid;
  border-color: rgb(197, 197, 197);
  border-width: 1px;
}

.lastname-box {
  padding: 8px;
  width: 100px;
  border-radius: 7px;
  border: solid;
  border-color: rgb(197, 197, 197);
  border-width: 1px;
}

.email-box {
  display: block;
  margin-top: 10px;
  padding: 8px;
  width: 220px;
  border-radius: 7px;
  border: solid;
  border-color: rgb(197, 197, 197);
  border-width: 1px;
}

.signup-button {

  border: none;
  background-color: rgb(0, 132, 255);
  color: white;
  margin-top: 10px;
  
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 95px;
  padding-right: 95px;
  font-weight: bold;
  border-radius: 7px;

}
